
.App {
  // text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 5px;
}


.App-header {
  background-color: #282c34;
  // min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table {
  margin: 15px;
}

.main {
  // padding: 20px;
  // margin: 20px;
}

.delete-modal {
  background-color:white;
  margin:100px;
  padding:15px;
  border-width:2px;
  border-color:red;
  border-style:solid;
}

.analysis {
  display: flex;
  flex-direction: row;
}

.analysis-number {
  font-size: 50px;
  font-weight: bolder;

}

.analysis-content {
  text-align:center;
  padding: 5px;
  font-weight: bold;
  overflow: hidden;
}