
.App {
  // text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 5px;
}


.App-header {
  // background-color: #282c34;
  // min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // font-size: calc(10px + 2vmin);
  padding: 20px;

}

.App-link {
  color: #61dafb;
}

.main {
  // padding: 20px;
  // margin: 20px;
}

.card-content {
  display: flex;
  flex-direction: row;
}
.update-btn {
  background-color: transparent;
  color:white;
  border-width: 0px;
  font-weight:bold;
}
